.primary,
.edit,
.save,
.delete,
.menu {
    padding: .5rem 1rem;
    border-radius: 6px;
}

.edit {
    align-self: flex-end;
}
.delete {
    color: rgb(173, 40, 40)
}
.menu {
    font-size: 1.2;
    color: var(--accent-white)
}