.mobile-menu {
    position: relative;
}

.mobile-menu .options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-dark);
    border-radius: 4px;
    text-align: right;
    padding: 1rem;

    position: absolute;
    top: 2.3rem;
    right: 0;
    z-index: 1;
}

/* Reset default styling */
.mobile-menu .options a:last-child {
    width: max-content;
    margin-left: 0;
    border: none;
    padding: 0;
    box-shadow: none;
}

@media screen and (min-width: 900px) {
    .mobile-menu {
        display: none;
    }
}