* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {

}

body {
  background-color: rgb(41, 41, 41);
}

#root {
  min-height: 100vh;
  position: relative;
  max-width: 1254px;
  margin: auto;
}

#root > * {
  padding: 1rem 1rem 0;
}

a {
  color: inherit;
}
a:hover,
.active {
  opacity: .5;
}

h1, h2 {
  font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 140%;
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: 400;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(225, 225, 225);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.584);
  font-weight: normal;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 140%;
  letter-spacing: .5px;
  color: whitesmoke;
  max-width: 500px;
}